- name: get log_names
  listen: get_logs
  find:
    path: "/tmp/tsc_sysinfo-{{ DATETIME }}/log/{{ DATETIME }}/result"
    recurse: yes
    patterns: "*delivery.log"
  register: log_names

# - name: 日志列表
#   listen: get_logs
#   debug:
#     msg: "{{ log_names }}"
- name: 删除控制节点日志回收目录
  listen: get_logs
  file: 
    path: $PWD/../batch_logs/
    state: absent
  delegate_to: localhost

- name: 回收节点检查日志
  listen: get_logs
  fetch:
    src: "{{ item.path }}"
    dest: "{{ hostvars['localhost']['playbook_dir'] }}/../batch_logs/{{ inventory_hostname }}/"
    faile_on_mssing: yes
    flat: yes
  with_items: "{{ log_names.files }}"
