---
- name: 检查主机操作系统是否支持
  set_fact:
    os_release: "{{ 'FOS_'+ansible_distribution_major_version if ansible_os_family == 'Fit StarrySky OS' else ansible_os_family+'_'+ansible_distribution_major_version }}"
- set_fact:
    name: '{{ inventory_hostname }}'
    tsc_sysinfo_status: '{{ inventory_hostname }} tsc_tools 版本不满足要求: {{ tsc_tools_version }} < {{ min_tsc_tools_ver }}'
  when:
    - tsc_tools_version < min_tsc_tools_ver
- set_fact:
    name: '{{ inventory_hostname }}'
    tsc_sysinfo_status: '{{ inventory_hostname }} 操作系统不支持: {{ os_release }}'
  when:
    - os_release not in vars['supported_os_release']
- block:
    - name: 预创建日志目录
      file:
        path: '{{ iperf3_logdir }}'
        state: directory
      no_log: true
    - name: 开启各节点 iperf3 {{ iperf3_run_status }}
      script:
        cmd: run.sh {{ iperf3_args }}
    - name: get log_names
      find:
        path: '/tmp/tsc_sysinfo-{{ DATETIME }}/log/{{ DATETIME }}/result'
        recurse: yes
        patterns: '*delivery.log'
      register: log_names
    - name: 回收节点检查日志
      fetch:
        src: '{{ item.path }}'
        dest: "{{ hostvars['localhost']['playbook_dir'] }}/../batch_logs/{{ inventory_hostname }}/"
        faile_on_mssing: yes
        flat: yes
      no_log: true
      with_items: '{{ log_names.files }}'
      when:
        - iperf3_run_status == "客户端"
  when:
    - tsc_tools_version >= min_tsc_tools_ver
    - os_release in vars['supported_os_release']

- name: 不支持的节点
  debug:
    msg: '{{ tsc_sysinfo_status }}'
  when: tsc_tools_version < min_tsc_tools_ver or os_release not in vars['supported_os_release']
