# 批量带宽测试
---
- hosts: localhost
  gather_facts: no
  tasks:
    - name: 删除控制节点日志回收目录
      file:
        path: $PWD/../batch_logs/
        state: absent

- hosts: iperf3Server,!localhost
  gather_facts: yes
  vars:
    - DATETIME: '{{ "%Y%m%d%H%M%S" | strftime(ansible_date_time.epoch) }}'
  roles:
    - role: check_tsc_tools # 检查目标主机上的 tsc 工具集版本是否满足要求
    - role: iperf3 # 开启服务端

- hosts: iperf3Client,!localhost,!iperf3Server
  gather_facts: yes
  serial: 1 # 串行执行
  vars:
    - DATETIME: '{{ "%Y%m%d%H%M%S" | strftime(ansible_date_time.epoch) }}'
  roles:
    - role: check_tsc_tools # 检查目标主机上的 tsc 工具集版本是否满足要求
    - role: iperf3 # 开启客户端测速并回收日志

- hosts: iperf3,!localhost
  gather_facts: no
  # any_errors_fatal: false
  tasks:
    - name: 关闭各节点 iperf3
      shell: pkill -f /bin/iperf3
      ignore_errors: yes
      failed_when: 1 == 0

- hosts: localhost
  gather_facts: no
  tasks:
    - name: 汇总 iperf3 结果
      shell:
        cmd: |
          source /home/tsc/pyenv_profile
          python3 "${PWD}"/../bin/parse_iperf3_logs.py
    - name: '结果查看: batch_logs/iperf3.xlsx'
      pause:
        seconds: 0
