---
# 批量压测
- hosts: localhost
  gather_facts: yes
  vars:
    DATETIME: '{{ "%Y%m%d%H%M%S" | strftime(ansible_date_time.epoch) }}'
  roles:
    - role: pack_tool # 将本机工具打包

- hosts: checkNodes,!localhost
  gather_facts: yes
  vars:
    - DATETIME: '{{ "%Y%m%d%H%M%S" | strftime(ansible_date_time.epoch) }}'
  roles:
    - role: check_tsc_tools # 检查目标主机上的 tsc 工具集版本是否满足要求
    - role: dispatch_tool # 分发并解压工具
    - role: stress-ng # 执行工具, 回收结果

