---
- name: 检查主机操作系统是否支持
  set_fact:
    os_release: "{{ 'FOS_'+ansible_distribution_major_version if ansible_os_family == 'Fit StarrySky OS' else ansible_os_family+'_'+ansible_distribution_major_version }}"
- block:
    - name: 检查节点
      shell: |
        cd /tmp/tsc_sysinfo-{{ DATETIME }}/ || exit 99
        DATETIME={{ DATETIME }} ./run.sh -m cpu_virtualization -m cpu_performance -m ntp -m sshdport -m selinux -m hostname -m runlevel -m iptables_rules -m service_trim -m weak_psw
      # notify: get_logs
    - name: get log_names
      find:
        path: '/tmp/tsc_sysinfo-{{ DATETIME }}/log/{{ DATETIME }}/result'
        recurse: yes
        patterns: '*delivery.log'
      register: log_names
    # - name: 删除控制节点日志回收目录
    #   file:
    #     path: $PWD/../batch_logs/
    #     state: absent
    #   delegate_to: localhost
    - name: 回收节点检查日志
      fetch:
        src: '{{ item.path }}'
        dest: "{{ hostvars['localhost']['playbook_dir'] }}/../batch_logs/{{ inventory_hostname }}/"
        faile_on_mssing: yes
        flat: yes
      no_log: true
      with_items: '{{ log_names.files }}'
  when:
    - os_release in vars['supported_os_release']
    - tsc_tools_version >= min_tsc_tools_ver
- name: 删除节点检查工具目录
  file:
    path: /tmp/tsc_sysinfo-{{ DATETIME }}/
    state: absent
- block:
    - debug:
        msg: '{{ inventory_hostname }} 操作系统不支持: {{ os_release }}'
      when:
        - os_release not in vars['supported_os_release']
    - debug:
        msg: '{{ inventory_hostname }} tsc_tools 版本不满足要求: {{ tsc_tools_version }} < {{ min_tsc_tools_ver }}'
      when:
        - tsc_tools_version < min_tsc_tools_ver
