---
- name: 检查主机操作系统是否支持
  set_fact:
    os_release: "{{ 'FOS_'+ansible_distribution_major_version if ansible_os_family == 'Fit StarrySky OS' else ansible_os_family+'_'+ansible_distribution_major_version }}"
- block:
    - name: 创建工具分发目录
      file:
        path: '/tmp/tsc_sysinfo-{{ DATETIME }}/'
        state: directory
    - name: 分发并解压工具
      unarchive:
        src: tsc_sysinfo.tar.gz
        dest: '/tmp/tsc_sysinfo-{{ DATETIME }}/'
  when:
    - os_release in vars['supported_os_release']
    - tsc_tools_version >= min_tsc_tools_ver
