---
- name: 检查主机操作系统是否支持
  set_fact:
    os_release: "{{ 'FOS_'+ansible_distribution_major_version if ansible_os_family == 'Fit StarrySky OS' else ansible_os_family+'_'+ansible_distribution_major_version }}"
- block:
    - name: 检查节点
      shell: |
        cd /tmp/tsc_sysinfo-{{ DATETIME }}/ || exit 99
        is_pg="{{ is_pg }}" pg_cmd="{{ pg_cmd }}" DATETIME={{ DATETIME }} ./run.sh
    - name: get run_log
      find:
        path: '/tmp/tsc_sysinfo-{{ DATETIME }}/log/'
        # '/tmp/tsc_sysinfo-{{ DATETIME }}/log/{{ DATETIME }}/warn/'
        recurse: yes
        patterns: 'run.sh_{{ DATETIME }}.log'
      register: run_log
    - name: get warn_log
      find:
        path: '/tmp/tsc_sysinfo-{{ DATETIME }}/log/{{ DATETIME }}/warn/'
        recurse: yes
      register: warn_log
    - name: 回收节点检查日志
      fetch:
        src: '{{ item.path }}'
        dest: "{{ hostvars['localhost']['playbook_dir'] }}/../batch_logs/{{ inventory_hostname }}/"
        faile_on_mssing: yes
        flat: yes
      no_log: true
      with_items: 
        - '{{ run_log.files }}'
        - '{{ warn_log.files }}'
  when:
    - os_release in vars['supported_os_release']
    - tsc_tools_version >= min_tsc_tools_ver
- name: 删除节点检查工具目录
  file:
    path: /tmp/tsc_sysinfo-{{ DATETIME }}/
    state: absent
- block:
    - debug:
        msg: '{{ inventory_hostname }} 操作系统不支持: {{ os_release }}'
      when:
        - os_release not in vars['supported_os_release']
    - debug:
        msg: '{{ inventory_hostname }} tsc_tools 版本不满足要求: {{ tsc_tools_version }} < {{ min_tsc_tools_ver }}'
      when:
        - tsc_tools_version < min_tsc_tools_ver
