---
- name: 检查主机操作系统是否支持
  set_fact:
    os_release: "{{ 'FOS_'+ansible_distribution_major_version if ansible_os_family == 'Fit StarrySky OS' else ansible_os_family+'_'+ansible_distribution_major_version }}"
- set_fact:
    name: '{{ inventory_hostname }}'
    stress_status: '{{ inventory_hostname }} tsc_tools 版本不满足要求: {{ tsc_tools_version }} < {{ min_tsc_tools_ver }}'
  when:
    - tsc_tools_version < min_tsc_tools_ver
- set_fact:
    name: '{{ inventory_hostname }}'
    stress_status: '{{ inventory_hostname }} 操作系统不支持: {{ os_release }}'
  when:
    - os_release not in vars['supported_os_release']
- block:
    - name: '转换检查时间: s -> s'
      set_fact: fio_timeout_sec="{{ fio_timeout[:-1] | int }}"
      no_log: true
      when: fio_timeout.endswith('s')
    - name: '转换检查时间: m -> s'
      set_fact: fio_timeout_sec="{{ fio_timeout[:-1] | int * 60 }}"
      no_log: true
      when: fio_timeout.endswith('m')
    - name: '转换检查时间: h -> s'
      set_fact: fio_timeout_sec="{{ fio_timeout[:-1] | int * 3600 }}"
      no_log: true
      when: fio_timeout.endswith('h')
    - name: '转换检查时间: d -> s'
      set_fact: fio_timeout_sec="{{ fio_timeout[:-1] | int * 86400 }}"
      no_log: true
      when: fio_timeout.endswith('d')
    - name: '检查节点, 每 {{ ansible_forks }} 台机器最多需等待 {{ fio_timeout }}'
      shell: |
        cd /tmp/tsc_sysinfo-{{ DATETIME }}/ || exit 99
        DATETIME={{ DATETIME }} \
          ./run.sh -m fio
      async: '{{ fio_timeout_sec }}'
      poll: 60
    - name: get log_names
      find:
        path: '/tmp/tsc_sysinfo-{{ DATETIME }}/log/{{ DATETIME }}/result/fio'
        recurse: yes
        patterns: 'fio_delivery.log'
      register: log_names
    - name: 删除控制节点日志回收目录
      file:
        path: $PWD/../batch_logs/
        state: absent
      delegate_to: localhost
    - name: 回收节点检查日志
      fetch:
        src: '{{ item.path }}'
        dest: "{{ hostvars['localhost']['playbook_dir'] }}/../batch_logs/{{ inventory_hostname }}/"
        faile_on_mssing: yes
        flat: yes
      no_log: true
      with_items: '{{ log_names.files }}'
  when:
    - tsc_tools_version >= min_tsc_tools_ver
    - os_release in vars['supported_os_release']

- name: 删除节点检查工具目录
  file:
    path: /tmp/tsc_sysinfo-{{ DATETIME }}/
    state: absent
