---
- name: 检查主机操作系统是否支持
  set_fact:
    os_release: "{{ 'FOS_'+ansible_distribution_major_version if ansible_os_family == 'Fit StarrySky OS' else ansible_os_family+'_'+ansible_distribution_major_version }}"
- set_fact:
    name: '{{ inventory_hostname }}'
    stress_status: '{{ inventory_hostname }} tsc_tools 版本不满足要求: {{ tsc_tools_version }} < {{ min_tsc_tools_ver }}'
  when:
    - tsc_tools_version < min_tsc_tools_ver
- set_fact:
    name: '{{ inventory_hostname }}'
    stress_status: '{{ inventory_hostname }} 操作系统不支持: {{ os_release }}'
  when:
    - os_release not in vars['supported_os_release']
- block:
    - name: '转换检查时间: s -> s'
      set_fact: stress_time_sec="{{ stress_time[:-1] | int }}"
      no_log: true
      when: stress_time.endswith('s')
    - name: '转换检查时间: m -> s'
      set_fact: stress_time_sec="{{ stress_time[:-1] | int * 60 }}"
      no_log: true
      when: stress_time.endswith('m')
    - name: '转换检查时间: h -> s'
      set_fact: stress_time_sec="{{ stress_time[:-1] | int * 3600 }}"
      no_log: true
      when: stress_time.endswith('h')
    - name: '转换检查时间: d -> s'
      set_fact: stress_time_sec="{{ stress_time[:-1] | int * 86400 }}"
      no_log: true
      when: stress_time.endswith('d')
    # - name: print stress_time_sec
    #   debug:
    #     var: stress_time_sec
    - name: '检查节点, 每 {{ ansible_forks }} 台机器需等待 {{ stress_time }}'
      shell: |
        cd /tmp/tsc_sysinfo-{{ DATETIME }}/ || exit 99
        DATETIME={{ DATETIME }} \
        stress_time={{ stress_time }} \
        stress_dir={{ stress_dir }} \
          ./run.sh -m stress
      async: '{{ stress_time_sec|int + 300  }}'
      poll: 60
    - set_fact:
        name: '{{ inventory_hostname }}'
        stress_status: '{{ inventory_hostname }} 压测通过'
  when:
    - tsc_tools_version >= min_tsc_tools_ver
    - os_release in vars['supported_os_release']

- name: 删除节点检查工具目录
  file:
    path: /tmp/tsc_sysinfo-{{ DATETIME }}/
    state: absent

- name: 展示检查结果, 需要结合最后的 "PLAY RECAP" 中 unreachable, failed 条目
  debug:
    msg: '{{ stress_status }}'
